## directories
##------------
Safe
Earth
WORKS_*

## kcarta output
##--------------
earth_kcarta_122.dat
earth_kcarta_121.dat
mars_kcarta.dat
mars_kcartaX.dat
mars_kcartaX.jac
warning*.msg

*.dat*
*.jac
*.msg*
*.rtp
